/* RESPONSIVE DESGN */

@media screen and (max-width: 30rem) {

.some-header {
    display: none;
}
.shapes {
    max-height: 5rem;
}
.triangles {
    float: right; 
}
#circle1, #circle2, #circle3 {
    width: 5rem;
    height: 5rem;
}
#triangle1 {
    border-top: 2.5rem solid transparent;
    border-left: 4rem solid #1148C7;
    border-bottom: 2.5rem solid transparent;
}
#triangle2 {
    border-top: 2.5rem solid transparent;
    border-left: 4rem solid #C83E4D;
    border-bottom: 2.5rem solid transparent;
}
#triangle3 {
    border-top: 2.5rem solid transparent;
    border-left: 4rem solid #FFD45D;
    border-bottom: 2.5rem solid transparent;
}



.welcome, .introduction {
    padding: 2rem 1rem;
}
.welcome p, .introduction p {
    font-size: 16px;
    padding: 0 1rem;
}



.projects {
    padding: 2rem 1rem;
}
.project-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0;
    width: 90%;
}
.project {
    margin: 0;
}
#p4, #p3, #p2, #p1 {
    height: 15rem;
    width: 100%;
    padding-bottom: 2rem;
}
.card-back {
    font-size: 14px;
}
.projects h4 {
    border-bottom: solid #C83E4D 0.1rem;
    padding-bottom: 0;
    margin: 0;
}
.project-links {
    transform: scale(0.75);
}
.card-back p {
    padding: 0 1rem;
    margin-bottom: 1rem;
}



.tech {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}
.tech-text {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}
.tech p {
    font-size: 16px;
    padding: 0 1rem;
}
.tech-list {
    height: 35rem;
    transform: scale(0.5);
    position: relative;
    left: -25%;
    /* padding: 0; */
}
.tech-list #circle1 {
    height: 7rem;
    width: 7rem;
}

#moon4 {
    left: 16%;
}

.contact {
    padding: 2rem 1rem;
}
.contact h1 {
    margin-bottom: 0.5rem;
}
.contact-btns {
    scale: 0.5;
    padding: 0;
}
.contact p {
    font-size: 16px;
    margin-top: 0;
}

#pageTop, #pageTopArrow {
    display: none !important;
}

}