html {
    scroll-behavior: smooth;
  }

body {
    color: #434343;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #D65CA9;
    font-size: 0;
    padding: 0;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.some-header {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 1px black;
    width: fit-content;
    padding: 0.6rem 2rem;
    font-weight: bold;
    display: flex;
    position: absolute;
    z-index: 2;
    align-self: center;
    font-size: 1.4rem;
}
.some-header ul {
    list-style-type: none;
    display: flex;
    margin: 0.5rem;
    padding: 0;
}
.some-header a {
    padding-right: 1rem;
    text-decoration: none;
    color: black;
}
#header-name {
    margin-right: 5rem;
}

h1 {
    font-family: 'Kalnia', serif;
    letter-spacing: 0.1rem;
}

.welcome {
    background-color: #0C5832;
    color: #8ADAB2;
    padding: 2rem;
}
.welcome h1 {
    border-bottom: solid #8ADAB2 0.1rem;
    padding: 1rem 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

.welcome p {
    padding: 0 2rem;
    padding-bottom: 0;
    color: #8ADAB2;
    font-size: 20px;
}

.introduction {
    background-color: #43B5E9;
    color: #1148C7;
    padding: 2rem;
}
.introduction h1 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: solid #1148C7 0.1rem;
}
.introduction p {
    padding: 0rem 2rem;
    color: #1148C7;
    font-size: 20px;
}

.experience {
    padding: 1rem 2rem;
    background-color: #FFD45D;
    color: #E2511C;
}
.experience h1 {
    border-bottom: solid #E2511C 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.experience p {
    padding: 0rem 2rem;
    padding-bottom: 0;
    color: #E2511C;
    font-size: 20px;
}

.projects {
    background-color: #F4D6CC;
    color: #C83E4D;
    padding: 2rem;
}
.projects h1 {
    border-bottom: solid #C83E4D 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    /* margin: 0; */
}
.projects h4 {
    border-bottom: solid #C83E4D 0.1rem;
    padding-bottom: 0.5rem;
}
.project-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    justify-content: center;
    margin: auto 5rem;
    
}
.project {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 20px; 
}

#p4, #p3, #p2, #p1 {
    width: 90%;
    height: 25rem;
    background-color: transparent;
    perspective: 40%;
    padding: 0;
    justify-self: center;
}
#p4, #p2 {
    grid-column: 1;
}
#p3, #p1 {
    grid-column: 2;
}
#p4, #p3 {
    grid-row: 1;
    padding-bottom: 1.5rem;
}
#p2, #p1 {
    grid-row: 2;
}
.card-inner {
    border: solid #C83E4D 0.2rem;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: white;
    border-radius: 0.5rem;
}
#p4:hover .card-inner {
    transform: rotateY(180deg);
}
#p3:hover .card-inner {
    transform: rotateY(180deg);
}
#p2:hover .card-inner {
    transform: rotateY(180deg);
}
#p1:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-back p {
    padding: 0 1rem;
    margin-bottom: 3rem;
}
.card-back a {
    text-decoration: none;
}
#bookclub-img, #eventMate-img,
#recipe-img, #tictactoe-img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    margin: 0;
    border-radius: 0.5rem;
}
#eventMate-img {
    object-position: 15%;
}
#recipe-img, #tictactoe-img {
    object-position: center top;
}
.github-link, .app-link {
    width: 3rem;
    height: 3rem;
}
.github-link {
    margin-right: 2rem;
}


.tech {
    background-color: #1148C7;
    color: #43B5E9;
    padding: 2rem;
}
.tech h1 {
    border-bottom: solid #43B5E9 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.tech p {
    font-size: 20px;
}
.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech ul {
    background-color: white;
    color: black;
    border: solid #43B5E9 0.2rem;
    border-radius: 0.5rem;
    margin: 1rem;;
    padding: 1rem 2rem;
    list-style-type: none;
    font-size: 20px;
}

.contact {
    padding: 1rem 2rem;
    background-color: black;
    color: #8ADAB2;
}
.contact h1 {
    border-bottom: solid #8ADAB2 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}
.contact p {
    padding: 0 3rem;
}

#pageTop {
    display: none;
    position: fixed;
    margin-top: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border: 0.3em solid #8ADAB2;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
}
#pageTopArrow {
    display: inline-block;
    margin-top: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border-top: 0.3rem solid #8ADAB2;
    border-right: 0.3rem solid #8ADAB2;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.pageTopEntrance {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: pageTopEntrance;
}
.pageTopExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: pageTopExit;
}
